[submodule "isl"]
    path = isl
    url = https://github.com/cristianrcv/isl.git
    ignore = untracked
[submodule "osl"]
    path = osl
    url = https://github.com/periscop/openscop.git
    ignore = untracked
